h1 {
	color: white;
	font-family: verdana;
	font-size: 300%;
}
p{
	color: white;
	font-family: Verdana;
}

#box {
	border: 1px;
	width: 600px;
	height: 120px;
	border-width: 4px;
	border-style: dashed;
	border-color: darkblue;
	background: #CCC;
	align-self: center;
}


.button {
	background-color: #001f3f;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: Verdana;
	border: dashed;
}

body {
	background-image: url('6030110-fly-wallpaper-picture-background-clouds-flight-photo-fighter-sky-aviation-plane.jpg');
	background-repeat: no-repeat;
	background-size: 2160px;
	
}
