@model WebApplication6.Models.AdminLogin
@{
	ViewData["Title"] = "Home Page";
}

@{
	ViewData["Title"] = "Home page";
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<link rel="stylesheet" href="~/css/StyleSheet.css" />
	<title></title>
</head>
<body>
	<div class="text-center">
	
		<p style="color: white;">Debug version</p>
		<p style="color:white;">@DateTime.Now @DateTime.Now.DayOfWeek</p>
		<h1 class="display-4" style="color: white;">Добре дошли в системата за резервиране на полети</h1>
		<p>Тук можете да резервирате вашите полети безпроблемно!</p>
		<button onclick="location.href='@Url.Action("Index","Reservation")'" style="margin-top: 200px; margin-left: -35px;" class="button">Резервирай полет!</button>
		


	</div>
</body>
</html>
